*{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body {
background-color: #dedede;
background-repeat: no-repeat;
background-size: 100%;
}


main {
background-color: white;
width: 80%;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba (0, 0, 0, 0.473);

}

h1 {
    font-size:x-large;
}

.card:nth-last-child(1) {
  margin: 10px auto 0 20px;
} 
.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:30%;
    margin-top: 20px;
    background-color: wheat;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  p {
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }

  img {
    height: 250px;
  }