*{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body {
background-color: #dedede;
background-repeat: no-repeat;
background-size: 100%;
}


main {
background-color: white;
width: 800px;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba (0, 0, 0, 0.473);

}

h1 {
    font-size:x-large;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }